#resumeTab{
	margin-right: 20px;
}

.jumbotron{
	padding: 200px 25px;
}
.container-fluid{
	padding: 0px 25px;
}

#navm{
	color: white;
}
#navm:hover{
	background-color: #454749;
}

.active{
	color: #1A5276;
}