html {
    overflow-y: scroll;
}

/* Initial Just logo page */


#logo{
	display: block;
	margin: 0 auto;
	margin-top: 200px;
	transition: 1000ms;	
}

.logo{
	margin-bottom: 50px;
}
/*After clicking */

/*Navigation */

.active{
	background-color: #c2d6d6;
}

nav{
	background: rgba(166, 166, 166, .5);
	transition: background 1000ms;
}

.fixed{
	opacity: 0.75;
	background-color: yellow;
}

#name{
	font-family: Monotype Corsiva;
	padding: 20px;
	font-size: 40px;
}

#nn{
	padding: 20px;
}


/* Mission */
.mission{
	height: 600px;
	position: relative;
    height: calc(100% - 70px); /* IE9+ and future browsers */
    height: -moz-calc(100% - 70px); /* Firefox */
    height: -webkit-calc(100% - 70px); /* Chrome, Safari */
}

h1{
	text-align: center;
	font-family: Courier;
	font-size: 50px;
}

h2{
	text-align: center;
	font-family: serif;
	font-size: 35px;
}

p{
	font-size: 20px;
}

/*Gallery */

.gallery{
	height: 1000px;
	width: 100%;
	position: relative;
    margin: 0 auto;
    padding: 0;    
    min-height: 200px;
    height: calc(100% - 100px); /* IE9+ and future browsers */
    height: -moz-calc(100% - 100px); /* Firefox */
    height: -webkit-calc(100% - 100px); /* Chrome, Safari */
}

.gallery h1{
	text-align: center;
}

#galleryImg{
	display: block;
	margin: 0 auto;
	margin-top: 40px;
	transition: 1000ms;
	width: 100%;
}

.slider {
  position: relative;
  height: 980px;
  margin-right: 40px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.slide {
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
    display: block;
	height: relative;
}


.slide-img {
  margin-right: 30px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1000px){
	.slider{
		height: 600px;
	}
}

/* Slide feature */

.slide-feature {
  text-align: center;
}


.slider-nav {
	position: static;
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

/* Video image */

.video{
	height: 800px;
	background-color: grey;
}
